html {
    height:100%;
}
body {
    margin: 0;
    font: 13px / 1.4 Helvetica, Meiryo, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#wrapper {
    width:500px;
    margin-top: 100px;
    margin-right: auto;
    margin-left : auto;
    border-radius: 3px;
    border: solid 1px #d8d8d8;
}
#items {
    margin-left: 10px;
}
#buttons {
    margin-top: 10px;
    padding-top: 15px;
    border-top: solid 1px #d8d8d8;
}
#saveAll {
    font: 13px / 1.4 Helvetica, Meiryo, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    margin-left: 190px;
    vertical-align: middle;
    color: #fff;
    margin-right: 6px;
    padding: 3px 10px;
    border: solid 1px #5ca941;;
    border-radius: 3px;
    background-image: linear-gradient(#8add6d, #60b044);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
}
#saveAll:hover {
    background-image: linear-gradient(#79d858, #569e3d);
    cursor: pointer;
}
.note {
    display: inline;
    color: #228b22;
    margin-left: 5px;
}
h1 {
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 500;
    background: #F5F5F5;
    border-bottom: 1px solid #d8d8d8;

    margin: 0;
    padding-left: 45px;
    color: #222;
    font-size: 14px;
    line-height: 38px;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;

    background-image: url('../image/icon.png');
    background-size: 27px;
    background-repeat: no-repeat;
    background-position: left 10px center;
}
h3 {
    font-size: 13px;
    color: #333;
}