{
    "extends": "eslint:recommended",
    "global-strict": ["error", "always"],
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
      "chrome": false,
      "module": false,
      "process": false
    },
    "ecmaFeatures": {
      "jsx": true
    },
    "plugins": [
      "react"
    ],
    "rules": {
        "arrow-body-style": "error",
        "arrow-parens": "error",
        "arrow-spacing": "error",
        "generator-star-spacing": "error",
        "no-duplicate-imports": "error",
        "no-useless-computed-key": "error",
        "no-useless-constructor": "error",
        "no-useless-rename": "error",
        "no-var": "error",
        "object-shorthand": 0,
        "prefer-arrow-callback": "error",
        "prefer-const": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "rest-spread-spacing": "error",
        "template-curly-spacing": "error",
        "yield-star-spacing": "error",
        "no-console": 0
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
