.button {
    position: relative;
    display: inline-block;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
}

.button:hover {
    text-decoration: none;
    background-repeat: repeat-x;
}

.normal {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.normal:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27,31,35,0.35);
}

.primary:hover {
    background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27,31,35,0.5);
}

.primary {
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.danger:hover {
    background-color: #b31313;
    background-image: linear-gradient(#d44e4e, #b31313) !important;
    background-position: 0 -0.5em;
    border-color: #890f0f;
}

.danger {
    color: #fff;
    background-color: #911;
    background-image: linear-gradient(#ec5757, #c71616) !important;
    border-color: #911;
}
