//colors
$black_80: rgba(0, 0, 0, 0.8);
$white: white;
$white_30: rgba(255, 255, 255, 0.3);
$color_tia_maria_approx: #c63e1b;
$color_meteor_approx: #dc7519;
$color_pizazz_approx: #fe8900;
$color_blaze_orange_approx: #ff6101;
$color_tundora_approx: #444;
$color_log_cabin_approx: #222;
$black: black;
$color_storm_dust_approx: #666;
$color_gallery_approx: #f0f0f0;
$color_alto_approx: #dcdcdc;
$black_20: rgba(0, 0, 0, 0.2);
$color_mantis_approx: #79d858;
$color_apple_approx: #569e3d;
$color_la_palma_approx: #417e26;
$black_15: rgba(0, 0, 0, 0.15);
$color_alabaster_approx: #fcfcfc;
$color_carnation_approx: #ec5757;
$color_monza_approx: #c71616;
$color_red_devil_approx: #820e0e;
$color_dark_burgundy_approx: #740d0d;

//fonts
$font_0: Lucida Grande;
$font_1: Lucida Sans Unicode;
$font_2: Hiragino;
$font_3: Meiryo;
$font_4: Apple Color Emoji;
$font_5: Segoe UI Emoji;
$font_6: NotoColorEmoji;
$font_7: Segoe UI Symbol;
$font_8: Android Emoji;
$font_9: EmojiSymbols;

//urls
$url_0: url(chrome-extension://__MSG_@@extension_id__/images/icon.png);

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.rotate180 {
  transform: rotateX(180deg);
}

//for bug of nicolive
.icon_follow {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: top;
}

//format
#watch_title_box .meta {
  overflow: visible !important;
}

.popover {
  font-family: sans-serif;
  z-index: 100001 !important;
}

#nicosapo-message {
  margin-left: 10px;
}

#nicosapo_buttons {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  top: -2px;
}
#nicosapo-toast {
  font-family: $font_0, $font_1, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8, $font_9;
  position: absolute;
  z-index: 999;
  top: 79px;
  left: 25px;
  background-color: $black_80;
  color: $white;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  padding: 3px 7px 3px 3px;
  border: solid 1px $white_30;
}
#nicosapo-toast-icon {
  display: inline-block;
  background-image: $url_0;
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: center;
  height: 37px;
  width: 40px;
  opacity: 0.8 !important;
  filter: alpha(opacity=80);
  vertical-align: middle;
}
#nicosapo-toast-text {
  opacity: 0.8 !important;
  position: relative;
  top: 3px;
  vertical-align: middle;
  display: inline-block;
}
.on_off_button {
  display: inline;
  text-align: center;
  font-weight: 700 !important;
  > a {
    text-decoration: none !important;
    font-weight: 700 !important;
    :hover {
      font-weight: 700 !important;
    }
  }
  > .link {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    display: inline-flex;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 13px;
    margin-right: 20px;
    font-weight: 700 !important;
    height: 30px;
    padding: 0 15px;
    line-height: 30px !important;
    &.switch_is_on {
      background: #f1f8ff;
      color: #0080ff;
    }
    &.switch_is_off {
      background: #f4f4f4;
      color: #666666;
    }
    > .material-icons {
      font-size: 18px;
      margin-right: 5px;
      align-self: center;
    }
  }
}
#extended-bar {
  font-family: $font_0, $font_1, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7, $font_8, $font_9;
  width: calc(100% - 24px * 2);
  min-width: 1024px;
  max-width: 1664px;
  margin: auto;
  text-align: right;
  background-color: $color_log_cabin_approx;
  color: $color_gallery_approx;
  margin: 0 auto;
  // Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px 20px 7px;
  font-size: 12px;
  > * {
    cursor: default;
    color: $white;
    display: inline-flex;
    position: relative;
  }
  .time {
    color: $white;
  }
  .message {
    color: $white;
  }
  >  {
    .message {
      float: left;
      &:before {
        margin-left: 20px;
        margin-right: 5px;
        content: "延長検知: ";
      }
    }
    .rest-time {
      float: right;
      &:before {
        margin-right: 5px;
        margin-left: 60px;
        content: "残り時間: ";
      }
    }
    .time:last-child {
      margin-right: 0;
    }
    .end-time:before {
      margin-left: 60px;
      margin-right: 5px;
      content: "終了時刻: ";
    }
  }
}
.icon-message {
  position: absolute;
  font-size: 16px;
  left: -2px;
  top: 2px;
}
.icon-end-time {
  position: absolute;
  top: 2px;
  font-size: 16px;
  left: 37px;
}
.icon-rest-time {
  font-size: 14px;
  position: absolute;
  left: 38px;
  top: 3px;
}
// タイムシフト
#page_cover #extended-bar {
  width: 960px;
}
.auto_scroll_button .material-icons {
  margin-right: 0 !important;
}
.radio-badge-wrapper {
  background-image: linear-gradient(rgb(51, 204, 86) 0%, rgb(40, 167, 69) 100%);
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.radio-badge {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-size: 35px;
  position: relative;
  top: 7px;
  left: 7px;
  background-repeat: no-repeat;
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/radio.png), linear-gradient(to bottom, #33cc56 0%, #28a745 100%);
}
#program-social-block {
  bottom: 100px;
}
#nicosapo-buttons {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e5e5e5;
}

.clipboard-snackbar {
  position: fixed;
  z-index: 9999;
  bottom: 30px;
  box-shadow: 0 1px 7px rgba(0,0,0,0.2);
  left: 30px;
  color: white;
  font-size: 0.7rem;
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
  padding: 0.5rem 1.7rem;
  border-radius: 999px;
}

.clipboard-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.clipboard-snackbar.hide {
  visibility: collapse;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
