.modal {
    height: 60px;
    cursor: default;
}

.modal.loading {
    background-image: url(/images/loading.gif);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.modal.standby {

}
