@import url("/fonts/notosansjapanese.css");
//colors
$color_mine_shaft_approx: #333;
$color_iron_approx: #d8d8d8;
$black_80: rgba(0,
0,
0,
0.8);
$color_lochmara_approx: #08c;
$gray: gray;
$color_wild_sand_approx: #f5f5f5;
$white: #fff; //
$color_alto_approx: #dcdcdc;
// $color_hot_cinnamon_approx: #d26911;
$color_hot_cinnamon_approx: #e36209;
$black_20: rgba(0,
0,
0,
0.2);
$black: black;
$black_15: rgba(0,
0,
0,
0.15);
$color_matterhorn_approx: #4d394b;
$color_celeste_approx: #ccc;
$color_red_devil_approx: #820e0e;
$color_dark_burgundy_approx: #740d0d;
$color_alabaster_approx: #fcfcfc;
$color_gallery_approx: #eee;
$color_pastel_green_approx: #8add6d;
$color_apple_approx: #5ca941;
$color_mantis_approx: #79d858;
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 179, 159, 0.2);
  border-right: 1.1em solid rgba(0, 179, 159, 0.2);
  border-bottom: 1.1em solid rgba(0, 179, 159, 0.2);
  border-left: 1.1em solid #00b39f;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

%extend_1 {
  color: $white;
  background-color: $color_red_devil_approx;
  background-image: none;
  border-color: $color_dark_burgundy_approx;
}

//fonts
$font_0: Arial;
$font_1: sans-serif;
//urls
$url_1: url(/images/icon.png);
.clearfix {
  clear: both;
}

* {
  box-sizing: border-box;
}

html {
  display: table;
}

select {
  font-family: Noto Sans Japanese;
}

input {
  font-family: Noto Sans Japanese;
}

body {
  display: table-cell; // width: 458px !important;
  min-width: 458px;
  margin: 0;
  padding: 0;
  color: $color_mine_shaft_approx;
}

#nicosapo {
  // width: 458px;
  margin: 0px 2px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}

// #dummy-tooltip {
//   position: absolute;
//   top: -999px !important;
//   left: -999px !important;
// }
// .tooltip-inner {
//   font-family: "Noto Sans Japanese";
//   max-width: 270px !important;
//   padding: 7px 9px !important;
//   background: $black_80 !important;
// }
.tooltip-opentime {
  // adff2f
  color: #99ff00;
}

a {
  text-decoration: none;
  &:hover {
    span {
      color: $color_lochmara_approx !important;
      text-decoration: none !important;
    }
    .screen_name {
      color: $gray !important;
      text-decoration: none !important;
    }
  }
}

#menu {
  font-family: "Noto Sans Japanese";
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 500;
  background: $color_wild_sand_approx;
  border-bottom: 1px solid $color_iron_approx;
}

#tab-container {
  font-size: 0;
}

.tab {
  font-family: "Noto Sans Japanese";
  font-size: 13px;
  width: 25%;
  height: 27px;
  line-height: 23px;
  font-weight: 500; //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  // text-shadow: 0 1px 0 $white;
  background: #fcfcfc;
  border-left: solid 1px $color_iron_approx;
  display: inline-block;
  border-bottom: 1px solid $color_alto_approx;
  text-align: center; //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  vertical-align: middle;
  &:first-child {
    border-left: 0;
  }
  &.selected {
    cursor: default;
    background: $white;
    border-bottom: solid 1px transparent;
    border-top: solid 2px $color_hot_cinnamon_approx;
  }
  &.non-selected {
    cursor: pointer;
    line-height: 23px;
    padding: 2px;
    &:hover {
      background: $color_wild_sand_approx;
    }
    &:active {
      background-color: $color_alto_approx; //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: inset 0 1px 6px $black_20;
    }
  }
}

#communities {
  min-height: 65px; // padding-bottom: 5px;
}

#container {
  position: relative;
  overflow-y: scroll;
  width: 473px; // width: 458px;
  max-height: 520px;
  padding-bottom: 5px;
  &.search {
    max-height: 492px;
  }
}

.tooltip {
  // max-width: 400px !important;
}

.statistics {
  font-size: 12px;
  color: #bbb;
  img {
    height: 13px;
    margin-right: 1px;
    margin-left: 10px;
    filter: brightness(70%);
    vertical-align: text-bottom;
    &:first-child {
      margin-left: 0;
    }
    &.view-count {
      height: 14px;
      margin-right: 2px;
      margin-left: 13px;
      position: relative;
      top: 2px
    }
    &.elapsed-time {
      height: 16px;
      margin-right: 1px;
      position: relative;
      top: 2px
    }
  }
}

.message {
  font-family: Noto Sans Japanese;
  font-weight: 300;
  width: auto;
  font-size: 18px;
  margin: 10px;
}

.menu-button {
  position: relative;
  top: 5px;
  float: right;
  vertical-align: middle;
  color: #333;
  margin-right: 6px;
  padding: 3px 10px;
  border: solid 1px #d5d5d5;
  border-radius: 3px;
  background-image: linear-gradient(#fcfcfc, #eee);
  &:hover {
    background-image: linear-gradient(#eee, $color_alto_approx);
    text-decoration: none;
    >span {
      color: $black !important;
      text-decoration: none;
    }
  }
  &:active {
    background-color: $color_alto_approx; //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 1px 6px $black_20;
    >span {
      color: $black !important;
      text-decoration: none;
    }
  }
  >span {
    color: inherit; //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    // text-shadow: 0 1px 0 $white;
    &.octicon {
      position: relative;
      font-size: 15px !important;
    }
    &.title {
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.avator {
  position: relative;
  top: -1px;
  float: left;
  background-image: url(/images/icon.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  height: 36px;
  width: 36px;
  margin-left: 5px;
  border-radius: 3px 0 0 0;
}

/**
 * GitHub
 */

.listgroup {
  list-style: none; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
}

.listgroup-item {
  font-family: "Noto Sans Japanese";
  position: relative;
  padding: 8px;
  font-size: 13px;
  line-height: 26px;
  height: 72px;
  color: #767676;
  border-bottom: 1px solid #e5e5e5;
  &:last-child {
    border-bottom: 0;
  }
}

.listgroup-item::before {
  display: table;
  content: "";
}

.float-right {
  float: right !important;
}

.exclude-button {
  background: #b2bac2;
  color: white;
  font-size: 10px !important;
  width: 30px;
  line-height: 15px;
  padding: 0 5px;
  border-radius: 4px;
  display: inline-block;
  height: 15px;
  position: absolute;
  top: 5px;
  right: 2px;
  margin-right: 2px;
  cursor: pointer;
  &:hover {
    color: white;
    background: #d02d3a;
  }
}

.BtnGroup {
  display: inline-block;
  vertical-align: middle;
}

.BtnGroup::before {
  display: table;
  content: "";
}

.BtnGroup-item {
  position: relative;
  float: left;
  border-right-width: 0; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  &:last-child {
    border-right-width: 1px; //Instead of the line below you could use @include border-top-right-radius($radius)
    border-top-right-radius: 3px; //Instead of the line below you could use @include border-bottom-right-radius($radius)
    border-bottom-right-radius: 3px;
  }
  &:first-child {
    //Instead of the line below you could use @include border-top-left-radius($radius)
    border-top-left-radius: 3px; //Instead of the line below you could use @include border-bottom-left-radius($radius)
    border-bottom-left-radius: 3px;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer; //Instead of the line below you could use @include user-select($select)
  user-select: none;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  appearance: none;
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

.btn-sm {
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
}

.btn-danger {
  color: #cb2431;
  background-color: #fafbfc;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  &:hover {
    color: #fff;
    background-color: #cb2431;
    background-image: linear-gradient(-180deg, #de4450 0%, #cb2431 90%);
    border-color: rgba(27,31,35,0.5);
  }
  &:active {
    color: #fff;
    background-color: #b5202c;
    background-image: none;
    border-color: rgba(27,31,35,0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
  }
}

a {
  color: #0366d6;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
  }
}

.BtnGroup::after {
  display: table;
  clear: both;
  content: "";
}

.list-group-text-block {
  position: relative; // padding-left: 50px;
  padding-left: 65px;
  line-height: 20px;
  overflow: hidden;
  width: 415px;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .meta-title {
    display: block;
    height: 20px;
    overflow: hidden;
    font-weight: 600;
    color: black;
    .short {
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100px;
    }
    .developer-app-name {
      color: #0366d6 !important;
    }
  }
  .meta-description {
    height: 20px;
    overflow: hidden;
    display: inline-block;
  }
  .meta-status {
    font-size: 0.7em;
    height: 15px;
    color: #bbb;
    overflow: hidden;
    display: inline-block;
    line-height: 15px;
  }
}

.float-left {
  float: left !important;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
} //
/**
 * End GitHub
 */

#search-result-message {
  font-family: "Noto Sans Japanese";
  padding: 3px 0;
  border-bottom: solid 1px #e5e5e5;
  margin: 0 auto;
  text-align: center;
  font-weight: 600; // width: 350px;
}

#search-result {
  position: relative;
  max-height: 455px;
  overflow-y: scroll;
}

.username {
  margin-left: 3px;
  color: #333;
  font-size: 14px;
  line-height: 36px;
  font-weight: 500; // text-shadow: 0 1px 0 #fff;
  cursor: default;
  position: relative;
  top: 1px;
}

#search-container {
  font-family: "Noto Sans Japanese";
  background: #f5f5f5;
  color: white;
  margin-bottom: 0;
  border-bottom: solid 1px #e5e5e5;
}

#search-sort {
  display: inline-block;
  position: absolute; // height: 28px;
  height: 25px;
  width: 125px;
  color: #333;
  font-size: 11px;
}

#search-input {
  display: inline-block;
  background: white;
  color: #333;
  vertical-align: top; // width: 400px;
  // width: 260px;
  // width: 282px;
  width: 301px;
  margin-left: 125px; // height: 28px;
  height: 25px;
  padding: 0 3px;
  font-size: 12px;
}

#search-button {
  display: inline-block; // color: white;
  vertical-align: middle; // vertical-align: middle;
  // color: white;
  // padding: 3px 13px;
  border-radius: 0;
  height: 25px;
  line-height: 18px;
  font-size: 11px;
}

#favorite-query-list {
  font-family: "Noto Sans Japanese";
  background: #f1f8ff;
  border-bottom: solid 1px #ddd;
  padding: 2px;
}

.favorite-query-head {
  cursor: default;
  padding: 2px 5px;
  color: #333;
  border-right: solid 1px #ddd; // font-weight: 600;
}

.favorite-query {
  cursor: pointer;
  color: #0366d6; // font-size: 0.9em;
  padding: 2px 5px;
  border-right: solid 1px #ddd;
  &:first-child {
    border-left: solid 1px #ddd;
  }
  &:hover {
    background: #ddeeff;
  }
}

.selected-query {
  background: #0366d6;
  color: white;
  padding-right: 10px;
  &:hover {
    background: #0251ab;
  }
}

.query-remove {
  background: #0366d6;
  color: #f1f8ff;
  font-size: 10px !important;
  padding: 0 5px;
  border-radius: 999px;
  position: relative;
  display: inline-block;
  height: 15px;
  top: -1px;
  margin-left: 8px;
  margin-right: 2px;
  &:hover {
    color: white;
    background: #d02d3a;
  }
}

#regist-favorite {
  position: absolute;
  top: 5px;
  right: 51px;
  font-size: 11px;
  color: #777;
  cursor: pointer;
  height: 16px;
  line-height: 14px;
  background: #eee;
  padding: 0 3px;
  border-radius: 2px;
  border: solid 1px #ddd;
  &:hover {
    // color: #999;
    background: #ddd;
  }
  &:active {
    background: #ccc; // color: #bbb;
  }
}

.none {
  display: none;
}

.community-hover-wrapper {
  margin: 5px 0 0 5px;
  display: inline-block;
  &:hover {
    -webkit-filter: brightness(0.8);
  }
}

.reserved-message {
  position: absolute;
  font-family: Noto sans japanese;
  font-weight: 500;
  /* border-radius: 70px; */
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: uppercase;
  top: 2px;
  right: 2px;
  font-size: 11px;
  background: #4d394b;
  background: rgba(0, 0, 0, 0.5);
  width: 34px;
  height: 18px;
  line-height: 18px;
  padding: 0;
  /* font-size: 12px; */
  border-radius: 10px;
}

.community {
  display: inline-block; // Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
}

.community_long {
  display: list-item;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color_celeste_approx;
  .comu_thumbnail {
    float: left;
  }
}

.comu_thumbnail {
  display: block;
  width: 70px;
  height: 70px;
  background-size: 70px; // Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
}

.large {
  background-size: contain;
  background-position: 50% 0;
  min-width: 70px;
  max-width: 100px;
  height: 70px;
}

// .tooltip.in {
//   opacity: 1 !important;
// }
.side-corner-tag.enabled {
  position: relative;
  color: $white;
  display: inline-block;
  overflow: hidden;
  font-family: $font_0, $font_1;
  font-weight: 900; // Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 0 -1px 0 $black_15;
  p {
    display: inline;
  }
  &:hover {
    cursor: pointer;
  }
}

/* * toggle group * */

.toggle {
  left: 20px;
  top: -3px;
  height: 25px !important;
}

.toggle-group {
  .toggle-on {
    background: #419641;
    box-shadow: 0px 3px 1px #398539, 0px 3px 1px #419641 inset;
  }
  .toggle-off {
    color: #eee;
    background: #444;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  .toggle-handle {
    background-image: linear-gradient($color_alabaster_approx, $color_gallery_approx);
  }
}

.btn-danger {
  border-color: #666 !important;
  .toggle-handle {
    background-image: linear-gradient($color_alabaster_approx, $color_gallery_approx);
    border-radius: 3px 0 0 3px;
  }
}

.btn-success {
  .toggle-handle {
    background-image: linear-gradient($color_alabaster_approx, $color_gallery_approx);
    border-radius: 0 3px 3px 0;
  }
}

.btn-sm {
  line-height: 1.2 !important;
}

.toggle-off.btn {
  padding-left: 20px !important;
}

.tumbnail:hover {}

.float-left {
  float: left;
}